@using RascalChatApp.Models.ViewModels
@model MessageViewModel


@{
    Layout = "_Layout";
}

<div class="navbar">
    @Html.Partial("_NavBar")
</div>

<div class="chat-container">
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
    {
        @Html.Hidden("channelId",1)
        @Html.Hidden("channelSecret", null)
        @Html.TextArea("content")
        <input type="submit" value="Send message" />
    }
</div>
<div class="message-container">
    @if (string.IsNullOrEmpty(Model.Message.Content))
    {
    <p>You have no message</p>;
    }
    else
    {
    <p>@Model.Message.Author.UserName sent a new message: @Model.Message.Content</p>;
    }

</div>